.container{
    display: flex;
    flex-direction: column;

    label{
        font-weight: 700;
        font-size: 14px;
        margin: 12px 0px 8px 0px;
    }
    .input{
        padding: 12px 15px;   
        border-radius: 10px;
        outline: 1px #adacac solid;
        border: none;

        &:focus{
            outline: 2px rgba(42, 42, 110, 0.4) solid;
         
        }
    }
}
