@import-normalize;
@import '../../styles/base';
@import '../../styles/mixins';
@import '../../styles/variables';

.container{
    background-color: #cac9c600;
    margin: auto;
   
    @include respond-to($tablet-breakpoint) {
        width: 70%;
    }
}