@import '../../styles/mixins';
@import '../../styles/variables';

.container{
    background-color: #f3f2ef00;
    margin: auto;
   
    @include respond-to($tablet-breakpoint) {
        width: 70%;
    }
}